[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[project]
[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/master"]
	label-Code-Review = -2..+2 group approvers-compiler-rt
	label-Verified = -1..+1 group approvers-compiler-rt
	submit = group approvers-compiler-rt
[access "refs/heads/main"]
	label-Code-Review = -2..+2 group approvers-compiler-rt
	label-Verified = -1..+1 group approvers-compiler-rt
	submit = group approvers-compiler-rt
[access "refs/heads/dev"]
	forgeCommitter = group LLVM_related
	push = +force group LLVM_related
	label-Verified = -1..+1 group LLVM_related
	submit = group LLVM_related
[notify "android-llvm-review"]
	email = "android-llvm-review@google.com"
